@charset "utf-8";

@font-face {
    font-family: "CalgaryScript";
    src: url("CalgaryScript.otf") format("opentype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, label, legend, caption, tbody, tfoot, thead, input, table, th, td, tr, select, option, iframe, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

a, img, input, button {
	border: 0;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

a:hover, input[type=submit]:hover, button:hover {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, hr, ul, li, div, header, section, footer {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
}

img, a {
	border: 0;
	text-decoration: none;
	background: trantical-align:-25%;
}

/*************************/

body {
	font-family: Verdana;
	background: #000 url('../images/room/background.jpg') top center no-repeat;
	width: 100%;
	margin: auto;
	color: #fff;
}

header {
	position: relative;
	width: 100%;
	height: 281px;
}

section {
	width: 100%;
	height: 300px;
}

footer {
	width: 100%;
	height: 300px;
}

/** HEADER **/

header div {
	/* background-color: #0A0A0A; */
	color: #fff;
}

header #home {
	width: 348px;
	height: 100%;

	position: absolute;
	left: 50%;
	margin-left: -600px;
	z-index: 100;
}

header #player {
	width: 494px;
	height: 100%;

	position: absolute;
	left: 50%;
	margin-left: -247px;
	z-index: 101;
}

header #chat {
	width: 348px;
	height: 100%;

	position: absolute;
	right: 50%;
	margin-right: -600px;
	z-index: 100;
}

#background {
	background-color: #0a0a0a;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	z-index: 100;
	/* margin-top: -281px; */
}

#home a {
	color: white;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

#player #flash {
	width: 484px;
	height: 271px;
	background-image: url('../images/standby.png');
	background-size: 484px 271px;
	background-repeat:no-repeat;
	top: 0;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
}

#chat #chat-title {
	position: absolute;
	margin-left: 15px;
	color: #FFFFFF;
    font-family: "CalgaryScript", Helvetica, Arial, sans-serif;
    font-size: 28px;
}

#chat-title #chat-bubble {
	float: right;
	margin-left: 16px;
	margin-top: 2px;
}

#chat #chat-top-line {
	width: 100%;
	top: 36px;
	left: 0;
}

#chat #chat-bottom-line {
	width: 100%;
	top: 250px;
	left: 0;
}

#chat #chat-messages {
	width: 333px;
	height: 205px;
	position: absolute;
	top: 42px;
	left: 15px;
	overflow-x: hidden;
	overflow-y: auto;

	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #fff;
}

.chat-message {
	width: 308px;
	padding: 5px;
	word-wrap: break-word;
	position: relative;
}

.chat-message:nth-child(2n) {
	background-color: #1A1A1A;
}

.chat-message .chat-timestamp {
	color: #777;
	font-size: 9px;
	float: right;
	padding-top: 1px;
	padding-left: 5px;
}

.chat-message .chat-username {
	color: #B0B0B0;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.chat-message .chat-text {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.chat-form {
	width: 295px;
	height: 20px;
	top: 255px;
	left: 15px;
	position: absolute;
}

.chat-form #chat-input {
	width: 294px;
	height: 100%;
	background-color: transparent;
	border: 0 none;
	color: #f9f9f9;
	outline: 0 none;
	position: absolute;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
}

#chat-send {
	background: url("../images/ButtonChatSend.png") repeat scroll 0 0 transparent;
}

.chat-button {
	cursor: pointer;
	width: 32px;
	height: 30px;
	top: 251px;
	right: 0;
	position: absolute;
}

.line {
	position: absolute;
	border-bottom: 1px dotted #292929
}

/** SECTION **/

section #dancefloor {
	width: 1100px;
	height: 310px;
	
	position: absolute;
	left: 50%;
	margin-left: -550px;
}

#dancefloor #room-wheel {
	background-image: url('../images/room_wheel2.png');
	width: 1044px;
	height: 394px;

	position: absolute;
	left: 50%;
	margin-top: -279px;
	margin-left: -646px;
}

#dancefloor #light {
	background: none repeat scroll 0 0 transparent;
	width: 661px;
    height: 121px;
    left: 50%;
    margin-left: -305.5px;
    margin-top: 0;
    visibility: visible;
	position: absolute;
}

/** FOOTER **/

footer #scene {
	width: 1200px;
	height: 300px;

	position: absolute;
	left: 50%;
	margin-left: -600px;
}

#scene #VoteMeh {
	background-image: url('../images/ButtonVoteNegative.png');
	width: 103px;
	height: 83px;
	top: 19px;

	position: absolute;
	left: 50%;
	margin-left: -242px;
}

#scene #VoteMeh:hover {
	background-image: url('../images/ButtonVoteNegativeSelected.png');
}

#scene #DJConsole {
	background-image: url('../images/DJConsole2.png');
	width: 317px;
	height: 104px;

	position: absolute;
	left: 50%;
	margin-left: -155px;
	z-index: 100;
}

#scene #VoteWoot {
	background-image: url('../images/ButtonVotePositive.png');
	width: 114px;
	height: 83px;
	top: 19px;

	position: absolute;
	right: 50%;
	margin-right: -255px;
}

#scene #VoteWoot:hover {
	background-image: url('../images/ButtonVotePositiveSelected.png');
}